@font-face {
font-family: 'Roboto Italic';
src: url('/css/assets/Roboto-Thin.ttf');
}

body {
  background-image: url("/css/images/codecode.jpg");
}
.jumbotron {
  background-color: rgba(0, 0, 0, 0.94);
}

.navbar-default .navbar-nav > .active > a {
  color: #2a9fd6;
  background-color: transparent;
  font-size: 18px;
}

nav.navbar.navbar-default {
  height: 120px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.96);
  box-shadow: 0px 1px 17px rgb(0, 151, 255);
  position: fixed;
}

div.navbar-header {
  padding-top: 20px;
}

#collapse-nav {
  padding-top: 20px;
}

hr {
  border-color: #0F0F0F
}

a.to-splash {
  color: white;
  background-color: transparent;
}
a.to-splash:hover {
  text-decoration: none;
  color: #2a9fd6;
  background-color: transparent;
}

.form-horizontal .control-label {
  text-align: right;
  margin-bottom: 0;
  padding-top: 9px;
  color: white;
}

button.btn, .btn-info, .btn-warning {
  color: #242424 ;
  font-size: 16px;
}

button.btn:hover, .btn-info:hover {
  color: #242424;
  font-size: 16px;
}

.signature-nav {
  font-size: 28px;
}

div.enter-button > button.btn-primary.btn-lg {
  margin-left: 45%;
}


.form-control {
  background-color: #060606;
  font-size: 17px;
  color: #2a9fd6
}

a.social-buttons {
  cursor : pointer;
}

i.fa.fa-5x.text-primary:hover {
  color : #FFFFFF;
  cursor : pointer;
}

.toast-logout {
  background-color: rgba(20, 20, 20) !important;
  box-shadow: 0px 4px 97px rgba(74, 255, 0, 1) !important;
  color: rgba(74, 255, 0, 1) !important;
}

.toast-register {
  background-color: rgba(20, 20, 20) !important;
  box-shadow: 0px 4px 97px rgba(255, 145, 0, 1) !important;
  color:rgba(255, 145, 0, 1) !important;
}

.toast-title {
  font-size: 16px !important;
  color: #E7E7E7 !important;
}

#register-avatar {
  max-width: 100px;
  broder-radius: 50%;
}

#register-thumbnail {
  max-width: 100px;
  -webkit-filter: grayscale(100%);
}

#main-fold {
  padding-top: 200px;

}

#profile-picture-main {
  width: 250px;
  border-radius: 50%;
}

#about-description {
  border-left: 0px;
  border-left-color: #000000;
}

#portfolio-slides {
  padding-top: 200px;
}

#carousel {
  height: 592px;
}

img.carousel-image {
  width: 55%;
  padding-bottom: 40px;
}

img.carousel-image {
  padding-bottom: 150px;
  width: 55%;
}

div.carousel-caption {
  bottom: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

div.carousel-caption > p.ng-binding {
  margin-bottom: 0px;
}

#navbar-links {
  font-family: 'Roboto Italic';
}

span.italic {
  font-family: 'Roboto Italic';
}

#skills {
  padding-top: 200px;
}
#jumbotron-skills {
  background-color: rgba(0, 0, 0, 0.78);
}
div.skill-wells {
  margin-left: 40px;
  margin-right: 20px;
  background-color: rgb(9,18,45);
  height: 1560px;
}
#javascript-skill {
  width: 100px;
}
#html5-skill {
  width: 100px;
}
#css3-skill {
  width: 70px;
}
#mongo-skill {
  width: 130px;
}
#mongoose-skill {
  width: 170px;
}
#node-skill  {
  width: 170px;
}
#json-skill {
  width: 140px;
}
#jquery-skill {
  width: 130px;
}
#socket-skill {
  width: 130px;
}
#gulp-skill {
  width: 90px;
}
#mocha-skill{
  width: 160px;
}
#chai-skill {
  width: 140px;
}
#sqlite-skill {
  width: 190px;
}
#mysql-skill {
  width: 200px;
}
#aws-skill {
  width: 200px;
}
#bluemix-skill {
  width: 150px;
}
#abnb-skill {
  width: 190px;
}
#react-skill {
  width: 160px;
}
#ionic-skill {
  width: 160px;
}
#firebase-skill {
  width: 170px;
}
