
@font-face {
  font-family: 'Roboto Italic';
  src: url('/css/assets/Roboto-Thin.ttf');
}

body {
  background-image: url("/css/images/codecode.jpg");
}
.jumbotron {
  background-color: rgba(0, 0, 0, 0.94);
}
.navbar-default .navbar-nav > .active > a {
  color: #2a9fd6;
  background-color: transparent;
  font-size: 18px;
}
#navbar {
  z-index: 100;
}
nav.navbar.navbar-default {
  height: 120px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 17px rgb(0, 151, 255);
  position: fixed;
}

div.navbar-header {
  padding-top: 20px;
}

#collapse-nav {
  padding-top: 20px;
}

hr {
  border-color: #0F0F0F;
  margin-bottom: 0px;
}

span.to-splash {
  color: white;
  font-family: 'Roboto Italic';
  font-size: 38px;
  font-weight: bolder;
  background-color: transparent;
}
a.navlinks {
  text-decoration: none;
  color: #2a9fd6;
  background-color: transparent;
}
a.navlinks:hover {
  text-decoration: none;
  color: #FFFFFF;
  background-color: transparent;
}

a.navlinks:focus {
  text-decoration: none;
  color: #FFFFFF;
  background-color: transparent;
}

.form-horizontal .control-label {
  text-align: right;
  margin-bottom: 0;
  padding-top: 9px;
  color: white;
}

button.btn, .btn-info, .btn-warning {
  color: #242424 ;
  font-size: 16px;
}

button.btn:hover, .btn-info:hover {
  color: #242424;
  font-size: 16px;
}

.signature-nav {
  font-size: 28px;
}

div.enter-button > button.btn-primary.btn-lg {
  margin-left: 45%;
}


.form-control {
  background-color: #060606;
  font-size: 17px;
  color: #2a9fd6
}

a.social-buttons {
  cursor : pointer;
}

i.fa.fa-5x.text-primary:hover {
  color : #FFFFFF;
  cursor : pointer;
}

.toast-logout {
  background-color: rgba(20, 20, 20) !important;
  box-shadow: 0px 4px 97px rgba(74, 255, 0, 1) !important;
  color: rgba(74, 255, 0, 1) !important;
}

.toast-register {
  background-color: rgba(20, 20, 20) !important;
  box-shadow: 0px 4px 97px rgba(255, 145, 0, 1) !important;
  color:rgba(255, 145, 0, 1) !important;
}

.toast-title {
  font-size: 16px !important;
  color: #E7E7E7 !important;
}

#register-avatar {
  max-width: 100px;
  broder-radius: 50%;
}

#register-thumbnail {
  max-width: 100px;
  -webkit-filter: grayscale(100%);
}

#main-fold {
  padding-top: 200px;

}

#profile-picture-main {
  width: 250px;
  border-radius: 50%;
}

#about-description {
  border-left: 0px;
  border-left-color: #000000;
}

#portfolio-slides {
  padding-top: 200px;
}

#carousel {
  height: 725px;
}

img.carousel-image {
  max-width: 85%;
}

div.carousel-main {
  height: 660px;
}

div.carousel-caption {
  bottom: 0px;
  margin-bottom: 0px;
}

div.carousel-caption > p.ng-binding {
  margin-bottom: 0px;
}

#navbar-links {
  font-family: 'Roboto Italic';
}

span.italic {
  font-family: 'Roboto Italic';
  font-weight: bold;
}
div.skill-wells {
  box-shadow: 0px 1px 17px rgb(0, 151, 255);
}

#skills {
  padding-top: 200px;
}
#jumbotron-skills {
  padding-left: 40px;
  padding-right: 40px;
  background-color: rgba(0, 0, 0, 0.78);
}
div.skill-wells {
  margin-right: 20px;
  background-color: rgb(9,18,45);
  height: 1840px;
}
p.skill-title {
  font-size: 34px;
}
#javascript-skill {
  width: 140px;
}
#html5-skill {
  width: 130px;
}
#css3-skill {
  width: 90px;
}
#mongo-skill {
  width: 130px;
}
#mongoose-skill {
  width: 160px;
}
#node-skill  {
  width: 160px;
}
#json-skill {
  width: 110px;
}
#jquery-skill {
  width: 110px;
}
#socket-skill {
  width: 130px;
}
#gulp-skill {
  width: 90px;
}
#mocha-skill{
  width: 160px;
}
#chai-skill {
  width: 140px;
}
#sqlite-skill {
  width: 160px;
}
#mysql-skill {
  width: 160px;
}
#aws-skill {
  width: 160px;
}
#bluemix-skill {
  width: 150px;
}
#abnb-skill {
  width: 160px;
}
#react-skill {
  width: 160px;
}
#ionic-skill {
  width: 130px;
}
#firebase-skill {
  width: 160px;
}
#contact {
  padding-top: 200px;
}
#contact-jumbotron {
  height: 650px;
  background-color: rgba(0, 0, 0, 0.84);
  padding-top: 30px;
}
#contact-jumbotron > div > img {
  width: 150px;
}

#contact-question {
  padding-bototm: 25px;
  font-family: 'Roboto Italic';
  font-weight: border;
  font-size: 32px;
}
#contact-space {
  height: 100px;
}
i.fa-icons {
  padding-left: 20px;
  font-size: 85px;
  color: #2a9fd6;
}
i.fa-icons:hover {
  color: #fff;
  cursor: pointer;
}
#icon-container {
  margin-top: 60px;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 850px;
  box-shadow: 21px 10px 177px rgba(0, 151, 255, 0.55);
  background-color: rgb(9,18,45);
}

#download-resume {
  border: 1px solid #2a9fd6;
}
#send-email {
  border: 1px solid #2a9fd6;
  margin-left: 30px;
}
div.contact-buttons {
  margin-top: 60px;
}

p.navbar-links {
  font-size: 27px;
  font-weight: bold;
}
