<div class="container">
  <h1>Home</h1>
  <hr>
  <!-- <pre>
  {{ allTheStuff | json }}
</pre> -->
<!-- <div class="modal-buttons same-width clearfix">
<button type="button" class="btn btn-success" ng-click="showSuccessMsg()">Success Notification</button>
<button type="button" class="btn btn-info" ng-click="showInfoMsg()">Info Notification</button>
<button type="button" class="btn btn-warning" ng-click="showWarningMsg()">Warning Notification</button>
<button type="button" class="btn btn-danger" ng-click="showErrorMsg()">Danger Notification</button>
</div> -->

<!-- <div ng-controller='testCtrl'>
  <test-dir data='avengers' villains='avenger_villains'></test-dir>
  <my-custom-form submit='onSubmit'></my-custom-form>
</div> -->

</div>
